.table {
  display: table;
  width: 800px;
  height: 600px;
  margin: auto;
 }

.container {
  display: flex;
  flex-direction: column;
}

.container .container {
  flex-direction: row;
}

.container > div:first-child, .container  > div:last-child{
  flex: 1 1 auto;
  min-height: 50px;
  background-color: #FFCC99;
}

.container .container > div:nth-child(odd) {
  flex: 1 1 auto;
  min-height: 500px;
  max-width: 175px;
  background-color: #99CCFF;
}

.container .container > div:nth-child(even) {
  flex: 1 1 auto;
  min-height: 500px;
  background-color: #99CC33;
 }

img {
    float: left;
}

ul.in {
    margin-top: -5px;
    margin-left: -35px;
    list-style-position: inside;
}

#title {
  text-align: center;
    text-shadow: 3px 1px #0066FF;
    vertical-align: super;
    width: 800px;
    line-height: 5px;
}
