.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  border: 1px solid darkgrey;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 1px #0066FF;
  vertical-align: super;
  line-height: 5px;
  background: #FFCC99;
  padding: 20px;
}

.title {
  font-size: 20px;
  text-align: left;
  text-shadow: 2px 1px #0066FF;
}

.bicycle{
  img {
      float: left;
      margin-left: 5px;
  }
  position:relative;
  display:inline;
  white-space:pre-wrap;
}

.bicycle:after{
    position:absolute;
    right:100%;
    bottom:-0.25em;
    width:0.25em;
}
.bicycle > span{
    position:relative;
    z-index:0;
}

.fixright{
  position: fix;
  top: -200px;
  right: 200px;
  }


.footer {
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  background: #FFCC99;
  text-align: left;
  color: deepskyblue;
  font-weight: bold;
}

.main {
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  text-align: left;
  background: #99CC33;
}

.aside {
  background: #99CCFF;
  padding: 5px;
  color: black;
  text-align: left;
  font-size: 16px;
  width: 100px;
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
}

.menu{
  color: black;
  font-weight: bold;
}
.menu:hover {
    background: #FFCC99;
 }

img {
    float: left;
}

ul.in {
    margin-top: -5px;
    margin-left: -35px;
    list-style-position: inside;
}

.greenColor{ background-color:green; }

.blueColor{ background-color:blue; }

.redColor{ background-color:red; }

.yellowColor{ background-color:yellow; }


@media all and (max-width: 600px) {
  .aside-1 { order: 1;}
  .aside-2 { order: 2;}
  .footer  { order: 3;}
}

@media all and (min-width: 600px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
  .aside { flex: 1 auto; }
}
